* {
  box-sizing: border-box;
  font-family: Verdana, Geneva, sans-serif;
  color: #0000FF;
  background-color: white;
}

.heading {
  height: auto;
  float: left;
  width: 100%;
  padding: 10px;
}

.grid-heading {
  display: grid;
  grid-template-columns: 50% 0%; /* FIXME: was 30% 45% */
  grid-gap: 20%; /* FIXME:  check deze ook >> was 25%*/
}

/*
.grid-heading>div {
 padding: 20px 100px;
}
*/
.item1 {
  grid-column-start: 1;
  grid-column-end: 2;
  padding-left: 50px;
}

.item2 {
  text-align: left;
  font-size: 0.775em;
}

.item2 h3 {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.content {
  min-height: 30em;
}

.gallery {
  border: 2px solid #ccc;
}

.gallery:hover {
  border: 2px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.footer {
  height: auto;
  font-size: 0.775em;
}
.footer h3 {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
