.wrapper {
  height: 100%;
  width: 100%;
  background: white;
  margin: 0 auto 0 auto;
  font-family: Verdana, Geneva, sans-serif;
}

.heading {
  height: 10em;
}

.heading_left {
  float: left;
  width: 60%;
  padding: 10px;
  height: auto;
}

.heading_right {
  float: left;
  width: 40%;
  padding: 10px;
  height: auto;
  color: darkblue;
  font-size: 0.775em;

}

.content {
  min-height: 30em;
  background: white;
}

.gallery {
  border: 2px solid #ccc;
}

.gallery:hover {
  border: 2px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}

.desc {
  padding: 15px;
  text-align: center;
  color: darkblue;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  clear: both;
  background: blue;
  height: auto;
  color: white;
  text-align: center;
  padding: 1%;
}
